:root {
	color-scheme: dark light;
	font-family: system-ui;
	--color-disabled: rgba(232, 232, 232, 0.497);
}

* {
	font-size: x-large;
}

form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	place-self: center;
	max-width: 10rem;
	gap: 0.5rem;
}

input {
	justify-self: center;
	border: 2px solid;
}

button {
	display: inline-block;
}

#macolon {
	user-select: all;
	-webkit-user-select: all;
	background-color: var(--color-disabled);
	cursor: text;
}
